@model Nalaab.Models.ViewModels.ShoppingCartVM
<form method="post">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        ملخص العملية
                        <i class="fa fa-shopping-cart"></i> &nbsp;

                    </div>
                    <div class="col-6 text-right">
                        <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn btn-outline-info btn-sm">العودة لسلة التسوق</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-6 col-lg-6 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">تفاصيل الطلب : </span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>الإسم</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.Name" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>رقم الجوال</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>العنوان</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.StreetAddress" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>المدينة</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.City" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>الحي</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.State" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>الرمز البريدي</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.PostalCode" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-5 offset-lg-1">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">تفاصيل المبلغ</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    @foreach (var details in Model.ListCart)
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div>
                                                <h6 class="my-0">@details.Product.Title</h6>
                                                <small class="text-muted">الكمية : @details.Count</small>
                                            </div>
                                            <span class="text-muted">@(details.Price * details.Count) ريال</span>
                                        </li>
                                    }@if (Model.OrderHeader.CouponCode != "")
                                    {
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <h6 class="my-0 text-info">المجموع قبل الخصم</h6>
                                            <h6 class="text-info">@(Model.OrderHeader.OrderTotalOriginal) ريال</h6>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <h6 class="my-0 text-success">مقدار الخصم</h6>
                                            <h6 class="text-success">@(Model.OrderHeader.OrderTotalOriginal - Model.OrderHeader.OrderTotal) ريال</h6>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <h6 class="my-0 text-success">المجموع بعد الخصم</h6>
                                            <h6 class="text-success">@(Model.OrderHeader.OrderTotal) ريال</h6>
                                        </li>
                                    }
                                    else
                                    {

                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <h6 class="my-0 text-info">(SAR)المجموع</h6>
                                            <h6 class="text-info">@(Model.OrderHeader.OrderTotal) ريال </h6>
                                        </li>
                                    }
                                </ul>
                                <p style="color:maroon; font-size:14px;"> تاريخ التسليم المتوقع @DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString() </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">

                        <div class="col-6 col-md-4">
                            <button type="submit"class="btn btn-primary form-control">تأكيد الطلب</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

